@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  font-size: 22px;
}


.sidebar {
  background: rgba(0, 7, 61);
  color: white;
  height: 100vh;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  /* font-size: 18px; */
  line-height: 24px;
}
.search {
  display: flex;
  align-items: center;
  margin-top: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;

  margin-left: 10px;
  border-radius: 5px;
  background: rgba(238, 238, 238);
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgba(45, 51, 89);
}
.active {
  background: rgba(45, 51, 89);
  border-right: 4px solid white;
}
.link_text {
  white-space: nowrap;
  /* font-size: 15px; */
}
.main-container {
  display: flex;
}
main {
  padding: 20px;
}
.title {
  font-size: 30px;
}
